<!DOCTYPE html>
<html>
<head>
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
	<link rel="icon" type="image/x-icon" href="/images/logo2.ico" />
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/font-awesome.css' />
	<link rel='stylesheet' href='/stylesheets/main.css' />
	<link rel='stylesheet' href='/stylesheets/process.css' />
	<link rel='stylesheet' href='/stylesheets/angular-datepicker.min.css' />
	<script type="text/javascript" src="/javascripts/lib/angular.js">
	</script>
	<script type="text/javascript" src="/javascripts/lib/angular-ui-router.js">
	</script>
	<script type="text/javascript" src="/javascripts/lib/jquery.js">
	</script>
	<script type="text/javascript" src="/javascripts/lib/bootstrap.js">
	</script>
	<script type="text/javascript" src="/javascripts/lib/ui-bootstrap.js">
	</script>
	<script type="text/javascript" src="/javascripts/lib/lodash.js">
	</script>
	<script type="text/javascript" src="/javascripts/lib/moment.js">
	</script>
	<script type="text/javascript" src="/javascripts/lib/angular-datepicker.min.js"></script>
	<script type="text/javascript" src="/javascripts/mainApp.js"></script>
	<script>if (window.module) module = window.module;</script>
	<title>Welcome to Sharrit</title>
</head>
<body ng-app="mainApp" ng-controller="mainController as ctrl">
<nav class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation">
	<div class="navbar-center navbar-brand"><a class="navbar-brand" ui-sref="floor"><i class="fa fa-2x fa-home" aria-hidden="true"></i></a></div>
	<p class="navbar-text"><i class="fa fa-user" aria-hidden="true"></i> Sharrit</p> 
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="navbar-collapse-1" style="padding-right: 15px;">
		<ul class="nav navbar-nav navbar-right">
			<li><a ui-sref="history">Actions</a></li>
			<!-- <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear" aria-hidden="true"></i><b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Admin Action</a></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</li> -->
		</ul>
	</div>
</nav>
	<ui-view></ui-view>
</body>
</html>