<div class="container" style="padding-top: 60px;">
	<div class="row">
		<div class="col-xs-3">
			<a ui-sref="admin"><button class="btn btn-lg btn-primary">Home</button></a>
		</div>
		<div class="col-xs-3">
			<a ui-sref="floor"><button class="btn btn-lg btn-primary">Floor</button></a>
		</div>
		<div class="col-xs-3">
			<a ui-sref="checkout"><button class="btn btn-lg btn-primary">Checkout</button></a>
		</div>
		<div class="col-xs-3">
			<a ui-sref="order"><button class="btn btn-lg btn-primary">Order</button></a>
		</div>
	</div>
</div>