<div class="modal-header">
    <button type="button" ng-click="upsActCtrl.onActionCancel()" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1>Change Log</h1>
</div>
<form class="form-group">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div ng-repeat="info in test">
                    <div ng-if="vm.gotMessage(info)">
                        <h1>{{info.message}}</h1>
                    </div>
                    <div ng-if="!vm.gotMessage(info)">
                        <div ng-repeat="order in info">
                            <h1>{{order.name}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>