<div class="modal-header text-center" style="background-color: #990000">
    <button type="button" ng-click="vm.onActionCancel()" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 style="color: #FFFFFF">Deposit: <span style="font-size: 32px;"><u>{{tableId}}</u></span></h4>
</div>
<form class="form-group">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h4>Deposit Amount:</h4>
                    <input class="form-control" style="width: 100%; background: #F2F2F2; font-size: 25px;" type="text" ng-model="inputAmount" disabled/>
                </div>
            </div>
        </div>
        <div style="margin: 0 auto; width: 100%; margin-top: 15px; cursor: pointer;">
            <div class="row">
                <div ng-click="vm.onNumberClick($event)" class="col-md-3 checkoutKeys">
                7
                </div>
                <div ng-click="vm.onNumberClick($event)" class="col-md-3 checkoutKeys">
                8
                </div>
                <div ng-click="vm.onNumberClick($event)" class="col-md-3 checkoutKeys">
                9
                </div>
                <div ng-click="vm.onClearClick()" class="col-md-3 checkoutKeys">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row">
                <div ng-click="vm.onNumberClick($event)" class="col-md-3 checkoutKeys">
                4
                </div>
                <div ng-click="vm.onNumberClick($event)" class="col-md-3 checkoutKeys">
                5
                </div>
                <div ng-click="vm.onNumberClick($event)" class="col-md-3 checkoutKeys">
                6
                </div>
                <div ng-click="vm.onFixAmount($event)" class="col-md-3 checkoutKeys">
                $50
                </div>
            </div>
            <div class="row">
                <div ng-click="vm.onNumberClick($event)" class="col-md-3 checkoutKeys">
                1
                </div>
                <div ng-click="vm.onNumberClick($event)" class="col-md-3 checkoutKeys">
                2
                </div>
                <div ng-click="vm.onNumberClick($event)" class="col-md-3 checkoutKeys">
                3
                </div>
                <div ng-click="vm.onFixAmount($event)" class="col-md-3 checkoutKeys">
                $100
                </div>
            </div>
            <div class="row">
                <div ng-click="vm.onNumberClick($event)" class="col-md-3 checkoutKeys">
                .
                </div>
                <div ng-click="vm.onNumberClick($event)" class="col-md-3 checkoutKeys">
                0
                </div>
                <div ng-click="vm.onConfirmClick()" class="col-md-3 checkoutKeys">
                Enter
                </div>
                <div ng-click="vm.onVoidClick()" class="col-md-3 checkoutKeys">
                <span style="color: red;">Void</span>
                </div>
            </div>
        </div>
    </div>
</form>