<div class="modal-header text-center" style="background-color: #990000">
    <button type="button" ng-click="vm.onActionCancel()" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4>End of Day!</h4>
</div>
<form class="form-group">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row text-center" style="padding-bottom: 15px;">
                <button ng-click="vm.onPrintClick()" class="btn btn-lg btn-primary">Print!</button>
            </div>
        </div>
    </div>
</form>