<button id="S1" ng-click="vm.selectTable($event)" ng-class="checkTableStatus('S1')" style="position: fixed; top: 75px; left: 20px;">S1</button>
<button id="S2" ng-click="vm.selectTable($event)" ng-class="checkTableStatus('S2')" style="position: fixed; top: 75px; left: 140px;">S2</button>
<button id="S3" ng-click="vm.selectTable($event)" ng-class="checkTableStatus('S3')" style="position: fixed; top: 75px; left: 260px;">S3</button>
<button id="S4" ng-click="vm.selectTable($event)" ng-class="checkTableStatus('S4')" style="position: fixed; top: 75px; left: 380px;">S4</button>