<button id="s1" ng-click="vm.selectTable($event)" class="floor-button" style="position: fixed; top: 75px; left: 20px;">S1</button>
<button id="s2" ng-click="vm.selectTable($event)" class="floor-button" style="position: fixed; top: 75px; left: 80px;">S2</button>
<button id="s3" ng-click="vm.selectTable($event)" class="floor-button" style="position: fixed; top: 75px; left: 140px;">S3</button>
<button id="s4" ng-click="vm.selectTable($event)" class="floor-button" style="position: fixed; top: 75px; left: 200px;">S4</button>