<div style="padding-top: 60px; background-color: #F2F2F2; height: 100%;">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2 logList">
            <div ng-repeat="log in logs">
              <div id="{{$index}}" ng-click="vm.onLogClick($event)" class="panel panel-default" style="margin-bottom: 0px;">
                  <div ng-class="vm.setFirstClass($index)" class="panel-body historyLogList">
                    {{log.invoiceId}}
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div style="margin-bottom: 10px; height: 50px;">
<button ng-click="vm.deleteRow()" class="btn btn-danger btn-md center-block" style="width: 100px; height: 50px;">Void</button>
                <button ng-click="vm.deleteRow()" class="btn btn-danger btn-md center-block" style="width: 100px; height: 50px;">Void</button>
            </div>
            <div class="panel panel-default" style="margin-bottom: 10px;">
                <div class="panel-body text-center">
                  <span class="pull-left">Receipt: {{display.invoiceId}}</span>
                  Table:{{display.tableId}}</span> <span class="pull-right">{{display.receiptInfo.printTime}}</span>
                </div>
            </div>
            <div class="panel panel-default logItemList" style="margin-bottom: 10px;">
              <div class="panel-body">
                <table class="table">
                  <tbody>
                    <tr ng-repeat="(id, value) in display.item">
                      <td width="10%">{{value.quantity}}</td>
                      <td width="60%">{{value.name}}</td>
                      <td width="30%">${{value.price | priceDisplay}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-default" style="margin-bottom: 10px;">
                <div class="panel-body text-center">
                  <span class="pull-left">Total Amount: ${{display.receiptInfo.totalAmount}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-1 logListAction" style="padding-right: 0px; padding-left: 0px;">
            <div class="panel panel-default" style="margin-bottom: 0px; border-radius: 0px; height: calc(25vh - 90px);">
                <div class="panel-body text-center" style="padding-top: 18px; cursor: pointer;">
                  <i class="fa fa-history fa-2x" aria-hidden="true"></i><br>
                  Logs
                </div>
            </div>
            <div class="panel panel-default" style="margin-bottom: 0px; border-radius: 0px; height: calc(25vh - 90px);">
                <div class="panel-body text-center" style="padding-top: 18px; cursor: pointer;">
                  <i class="fa fa-archive fa-2x" aria-hidden="true"></i><br>
                  Items
                </div>
            </div>
            <div class="panel panel-default" style="margin-bottom: 0px; border-radius: 0px; height: calc(25vh - 90px);">
                <div class="panel-body text-center" style="padding-top: 18px; cursor: pointer;">
                  <i class="fa fa-money fa-2x" aria-hidden="true"></i><br>
                  Drawer
                </div>
            </div>
            <div class="panel panel-default" style="margin-bottom: 0px; border-radius: 0px; height: calc(25vh - 90px);">
                <div class="panel-body text-center" style="padding-top: 18px; cursor: pointer;">
                  <i class="fa fa-hourglass-end fa-2x" aria-hidden="true"></i><br>
                  End Day
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
