<div class="modal-header text-center" style="background-color: #990000">
    <button type="button" ng-click="vm.onActionCancel()" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 style="color: #FFFFFF">Transfer table: <span style="font-size: 32px;"><u>{{tableId}}</u></span></h4>
</div>
<form class="form-group">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Select Table for transfer</h4>
                </div>
                <div ng-if="newTableId !== ''" class="col-md-12 text-center">
                    <h4>Confirm switch: <span style="font-size: 26px; color: red;"><u>{{newTableId}}</u></span></h4>
                    <div class="btn-group">
                      <button ng-click="vm.onConfirmClick()" type="button" class="btn btn-primary transferConfirmation">Switch</button>
                      <button ng-click="vm.onCancelClick()" type="button" class="btn btn-danger transferConfirmation">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin: 0 auto; width: 100%; margin-top: 10px; cursor: pointer;">
            <div class="row">
                <div ng-repeat="(id, table) in AllTables">
                    <div ng-if="vm.checkItemLoop($index)" class="clearfix"></div>
                    <div ng-click="vm.onNumberClick($event)" ng-style="vm.checkAvailability(table)" class="col-md-3 checkoutKeys">
                    {{id}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>