html{
    background: url("../images/login2.jpg") no-repeat;
    background-size: cover;
    max-height: 100%;
}

body{
    background-color: transparent;
}

#registration-form{
    max-width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#registration-form .image{
    float:left;
    background-image: url("../images/desk.jpg");
    height: 650px;
    width: 50%;
    background-size: cover;
    background-position: 25%;
}

#registration-form .frm{
    float:right;
    height: 650px;
    width: 50%;
    min-width: 250px;
    padding: 0 35px;
    background-size: 100% 100%;
    background-color: white;
}

#registration-form h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

#registration-form .form-control{
    width: 90%;
    padding: 12px 20px;
    height: auto;
}

@media screen and (max-width: 700px){
    #registration-form .image{
        width: 30%;
        background-position: 60%;
    }

    #registration-form .frm{
        width: 70%;
    }

    #registration-form .form-control{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    #registration-form .image{
        display: none;
    }

    #registration-form .frm{
        width: 100%;
    }

    #registration-form h1{
        text-align: center;
    }

    #registration-form .btn{
        width: 100%;
        margin-top: 20px;
    }
}

.navbar-brand {
    padding: 8px 15px;
    float: none;
}

.navbar-brand:hover {
    color: #FFFFFF;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}

.navbar-custom {
    background-color:#990000;
    color:#ffffff;
    border-radius:0;
}

.navbar {
    border: 0;
    box-shadow: 0 3px 2px -2px #D2D2D2;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.8;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}
