html, body {
	height: 100%;
}

.navbar-brand {
    padding: 8px 15px;
    float: none;
}

.navbar-brand:hover {
    color: #FFFFFF;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}

.navbar-custom {
    background-color:#990000;
    color:#ffffff;
    border-radius:0;
}

.navbar {
    border: 0;
    box-shadow: 0 3px 2px -2px #D2D2D2;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.8;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}
