.floor-button {
	height: 70px;
	width: 70px;
	background: #00cc00;
	color: #FFFFFF;
	font-size: 20px;
}

.floor-button-occupied {
	height: 70px;
	width: 70px;
	background: #ff1a1a;
	color: #FFFFFF;
	font-size: 20px;
}


.table > tbody > tr:first-child > td {
    border: none;
}

#orderList {
	margin-bottom: 5px;
	height: -webkit-calc(100vh - 200px);
	height: -moz-calc(100vh - 200px);
	height: calc(100vh - 200px);
	overflow: auto;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#itemList {
	height: -webkit-calc(100vh - 145px);
	height: -moz-calc(100vh - 145px);
	height: calc(100vh - 145px);
	overflow: auto;
	background-color: #FFFFFF;
	box-shadow: 0 3px 2px -2px #D2D2D2;
}

.categoryPanel {
	background: #990000;
	color: #FFFFFF;
}

.categoryPanel:hover {
	opacity: 0.8;
	cursor: pointer;
}

.itemPanel {
	height: 93px;
}

.itemPanel:hover {
	opacity: 0.8;
	cursor: pointer;
}

.itemPanel > .panel-body {
	text-align: center;
}

.center-block{
    display: inline-block;
    vertical-align: top;
    border-radius: 0;
}

#checkoutPanel {
	background: #990000;
	color: #FFFFFF;
}

#checkoutPanel:hover {
	opacity: 0.8;
	cursor: pointer;
}

.checkoutKeys {
	background-color: #FFFFFF;
	vertical-align: middle;
	line-height: 90px;
	height: 90px;
	text-align: center;
	border-color: #E2E2E2;
	border-width: 0.1px;
	border-style: solid;
	font-size: 20px;
	font-weight: bold;
}

.discountKeys {
	background-color: #F2F2F2;
	vertical-align: middle;
	line-height: 60px;
	height: 60px;
	text-align: center;
	border-color: #E2E2E2;
	border-style: solid;
	border-width: 0.5px;
}

.form-group {
	margin-bottom: 0px;
}

.modal-body {
	padding-bottom: 0px;
}

.floorTables {
	position: fixed; 
	box-shadow: 0 0 10px #FFFFFF;
}

.wrap {
    height:auto;
    margin: auto;
    text-align:center;
    position:relative;
}

.text_over_image {
    position: absolute;
 	margin: auto;
 	top: 17px;
    left:0;
    right:0;
    bottom:0;
    color:#FFFFFF;
    font-size: 24px;
}

.transferConfirmation {
	height: 50px;
	width: 150px;
	border-radius: 0;
}

.logList {
	height: -webkit-calc(100vh - 80px);
	height: -moz-calc(100vh - 80px);
	height: calc(100vh - 80px);
	overflow: auto;
}

.logItemList {
	height: -webkit-calc(100vh - 203px);
	height: -moz-calc(100vh - 203px);
	height: calc(100vh - 203px);
	overflow: auto;
}



